<div class="container-fluid">
    <div class="row login-content">
        <!-- Seção Esquerda -->
        <div class="col-md-6 left-section">
            <h1 class="mb-4">Bem-vindo</h1>
            <img src="assets/images/campo-futebol.svg" alt="Campo de futebol" class="field-image img-fluid">
        </div>

        <!-- Seção Direita -->
        <div class="col-md-6 right-section">
            <form class="login-form">
                <!-- CPF ou Email -->
                <div class="mb-4">
                    <label for="cpfEmail" class="form-label">CPF ou Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="cpfEmail" name="cpfEmail" [(ngModel)]="cpfOuEmail"
                            placeholder="Informe seu email ou cpf" required
                            (ngModelChange)="isCpf(cpfOuEmail) ? cpfOuEmail = formatarCpf(cpfOuEmail) : null">
                        <button *ngIf="cpfOuEmail" class="btn btn-outline-secondary clear-button" type="button"
                            (click)="cpfOuEmail = ''">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </div>

                <!-- Senha -->
                <div class="mb-4">
                    <label for="senha" class="form-label">Senha</label>
                    <div class="input-group">
                        <input [type]="mostrarSenha ? 'text' : 'password'" class="form-control" id="senha" name="senha"
                            [(ngModel)]="senha" placeholder="Informe sua senha" required>
                        <button class="btn btn-outline-secondary" type="button" (click)="toggleMostrarSenha()">
                            <i class="bi" [ngClass]="mostrarSenha ? 'bi-eye-slash' : 'bi-eye'"></i>
                        </button>
                    </div>
                </div>

                <!-- Checkbox Lembrar de mim -->
                <div class="mb-4 form-check remember-me">
                    <input type="checkbox" class="form-check-input" id="lembrarDeMim" [(ngModel)]="lembrarDeMim"
                        name="lembrarDeMim">
                    <label class="form-check-label" for="lembrarDeMim">Lembrar de mim</label>
                </div>

                <!-- Botões -->
                <button type="button" class="btn btn-success w-100 mb-3" (click)="fazerLogin()">Login</button>

                <div class="text-center mb-4">
                    <a href="#" class="forgot-password">Esqueci minha senha</a>
                </div>

                <div class="text-center mb-2">
                    <span>Não tem conta?</span>
                    <button type="button" class="btn btn-outline-success ms-2" (click)="irParaCadastro()">
                        Cadastre-se
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>